* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-bg-color: white;
  --secondary-color: #333;
  --main-fontcolor: #333;
  --secondary-fontcolor: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}
